<!DOCTYPE html>
<html lang="zh-CN">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!--  标题图标 -->
<link rel="Shortcut Icon" href="${request.contextPath}/page/static/images/logo.ico" type="image/x-icon"/>
<link rel="stylesheet" href="${request.contextPath}/page/static/plugins/bootstrap/css/bootstrap/bootstrap.css" type="text/css"></link>
<link rel="stylesheet" href="${request.contextPath}/page/static/plugins/bootstrap/css/bootstrap-table.css" type="text/css"></link>
<link rel="stylesheet" href="${request.contextPath}/page/static/css/common.css" type="text/css"></link>
<script type="text/javascript" src="${request.contextPath}/page/static/js/jquery.js"></script>
<script type="text/javascript"src="${request.contextPath}/page/static/plugins/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript"src="${request.contextPath}/page/static/plugins/bootstrap/js/bootstrap-table.js"></script>	
<script type="text/javascript"src="${request.contextPath}/page/static/plugins/bootstrap/js/bootstrap-table-zh-CN.js"></script> 
<!-- 基础工具JS -->
<script type="text/javascript"src="${request.contextPath}/page/static/js/jquery.serializeObject.js"></script>
<script type="text/javascript"src="${request.contextPath}/page/static/js/json2.js"></script>
 <!-- 多列排序  -->
<script type="text/javascript"src="${request.contextPath}/page/static/plugins/bootstrap/js/bootstrap-table-multiple-sort.js"></script>
<!-- bootstrap-modal拖拽  -->
<link rel="stylesheet" href="${request.contextPath}/page/static/plugins/bootstrap/drag/jquery-ui.css" type="text/css"></link> 
<script type="text/javascript"src="${request.contextPath}/page/static/plugins/bootstrap/drag/jquery-ui.js"></script>
 <!-- 列宽度重置 -->
<script type="text/javascript" src="${request.contextPath}/page/static/plugins/bootstrap/resize/bootstrap-table-resizable.js"></script>
<script type="text/javascript" src="${request.contextPath}/page/static/plugins/bootstrap/resize/colResizable-1.5.source.js"></script>
<!-- 二维码  打印-->
<script src="${request.contextPath}/page/static/plugins/bootstrap/qrcode/jquery.qrcode.min.js"></script>
<link rel="stylesheet" href="${request.contextPath}/page/static/plugins/bootstrap/qrcode/PrintArea.css">
<script src="${request.contextPath}/page/static/plugins/bootstrap/qrcode/jquery.PrintArea.js"></script>
 <!-- dialog框插件  -->
<link href="${request.contextPath}/page/static/plugins/bootstrap/css/bootstrap-dialog.css" rel="stylesheet" type="text/css" />
<script src="${request.contextPath}/page/static/plugins/bootstrap/js/bootstrap-dialog.js"></script> 
<!-- 单元格编辑插件 -->
<script src="${request.contextPath}/page/static/plugins/bootstrap/editable/bootstrap-editable.js"></script>  
<script src="${request.contextPath}/page/static/plugins/bootstrap/editable/bootstrap-table-editable.js"></script>
<!-- 导出  -->
<script src="${request.contextPath}/page/static/plugins/bootstrap/export/tableExport.js"></script>
<script src="${request.contextPath}/page/static/plugins/bootstrap/export/bootstrap-table-export.js"></script>
<script src="${request.contextPath}/page/static/plugins/bootstrap/export/jquery.base64.js"></script>
<!-- 拖动列 -->
<script type="text/javascript" src="${request.contextPath}/page/static/plugins/bootstrap/row/jquery.dragtable.js"></script>
<link rel="stylesheet" href="${request.contextPath}/page/static/plugins/bootstrap/row/jquery.dragtable.css">
<script type="text/javascript" src="${request.contextPath}/page/static/plugins/bootstrap/row/bootstrap-table-reorder-columns.js"></script>
<script src="${request.contextPath}/page/static/js/common.js"></script>
<!-- echarts图标JS -->
<script src="${request.contextPath}/page/static/plugins/echarts/echarts.js"></script>
<!-- 97日期插件 -->
<script src="${request.contextPath}/page/static/plugins/my97/WdatePicker.js"></script>
<!-- layeDate日期插件 -->
<script src="${request.contextPath}/page/static/plugins/laydate/laydate.js"></script>
<!-- 跨列选择 -->
<script type="text/javascript"src="${request.contextPath}/page/static/plugins/bootstrap/js/lodash.js"></script>
<!-- select2 -->
<script type="text/javascript"src="${request.contextPath}/page/static/plugins/select2/select2.js"></script>
<link rel="stylesheet" href="${request.contextPath}/page/static/plugins/select2/select2.css">
<!-- 波纹效果 -->
<script type="text/javascript"src="${request.contextPath}/page/static/plugins/waves/waves.min.js"></script>
<link rel="stylesheet" href="${request.contextPath}/page/static/plugins/waves/waves.min.css">
<!-- tree  -->
<script type="text/javascript"src="${request.contextPath}/page/static/plugins/bootstrap/treeview/bootstrap-treeview.js"></script>
<link rel="stylesheet" href="${request.contextPath}/page/static/plugins/bootstrap/treeview/bootstrap-treeview.css">
<!-- 文件上传 -->
<script type="text/javascript"src="${request.contextPath}/page/static/js/ajaxfileupload.js"></script>
<!-- layer弹出层 -->
<script type="text/javascript"src="${request.contextPath}/page/static/plugins/layer/layer.js"></script>
<!-- form表单验证validate插件 -->
<script type="text/javascript"  src="${request.contextPath}/page/static/plugins/validate/jquery.metadata.js"></script>  
<script type="text/javascript" src="${request.contextPath}/page/static/plugins/validate/jquery.validate.js"></script>
<script type="text/javascript" src="${request.contextPath}/page/static/plugins/validate/additional-methods.js"></script>
<!-- 动画效果 -->
<link rel="stylesheet" href="${request.contextPath}/page/static/css/animate.css">
<!-- 字体样式 -->
<link rel="stylesheet" href="${request.contextPath}/page/static/css/font-awesome.css">
<!-- 格式化JSON页面显示 -->
<script type="text/javascript"src="${request.contextPath}/page/static/js/vkbeautify.js"></script>